<h1>Teacher Portal</h1>
<div class="row">
  <h4>Your Students</h4>
  <%= link_to "Add Student", new_student_path, class: "btn btn-default" %>
  <ul>
    <% current_user.personable.students.each do |student| %>
      <li>
        <%= link_to student.full_name, student %>

      <% student.parents.each do |parent| %>
        <ul>
          <li>
            <%= parent.full_name %>
          </li>
        </ul>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
